*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI';
}
body{
    background-color: #4E4949;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.room-container{
    background: url('../images/bg1.jpg');
    margin: 30px;
    height: 550px;
    width: 350px;
    position: relative;
    box-shadow: 3px 4px 6px #111;
}
.room-container .header-box{
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 90px;
    color: #f4f5f6;
}
.room-info {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.room-info p{
    font-size: 13px;
    margin-right: 5px;
}
.room-info .btn-leave{
    background-color:#4E4949;
    border: none;
    color: #f4f5f6;
    width: 100px;
    height: 30px;
    margin-top: 0px;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
}
#color-picker{
    width: 20px;
    height: 30px;
}
.btn-copy:hover, .btn-leave:hover{
    filter: brightness(90%);
}
.room-container .actions{
    position: absolute;
    bottom: 0%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #111;
    height: 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.actions .input-msg{
    height: 30px;
    width: 300px;
    border: none;
    outline: none;
    border-radius: 10px;
    text-align: center;
}
.actions .send-msg{
    height: 30px;
    width: 80px;
    background-color: #EDAC1A;
    color: #f4f5f6;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}
.send-msg:hover{
    filter: brightness(90%);
}
.room-container .chat-container{
    position: relative;
    overflow-y: auto;
    margin: 15px;
    margin-top: 0px;
    height: 420px;
    margin-bottom: 50px;
}
.chat-container > div {
    padding: 10px;
    width: fit-content;
    border-radius: 20px;
    margin-top: 5px;
    box-shadow: 3px 4px 6px #4E4949;
}
.chat-container .other-user{
    background: #111;
    color: #f4f5f6f1;
}
.chat-container .current-user{
    float: right;
    margin-right: 5px;
    background-color: #EDAC1A;
    color: #f4f5f6f1;
}
.chat-container .announcement{
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 20px;
}
.other-user p, .current-user p {
    font-size: 15px;
} 
.update-browser{
    font-size: 12px;
    text-align: center;
    color: #f4f5f6;
    width: 100%;
    margin-top: -15px;
}
@media screen and (min-width: 350px) {
    .room-container{
        width: 350px;
        height: 100%;
    }
    .room-container .actions {
       padding: 20px;
       box-sizing: border-box;
    }
    .actions input.input-msg{
        margin-right: 5px;
    }
}
.clearfix{
    clear: both;
    box-shadow: none !important;
}